@font-face {
  font-family: 'Roboto-light';
  src: url('font/Roboto-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-medium';
  src: url('font/Roboto-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-regular';
  src: url('font/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeue';
  src: url('font/BebasNeue-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PatrickHand';
  src: url('font/PatrickHand-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
